<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
   <!-- Bootstrap用CSSの読み込み -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <!-- Bootstrap用JavaScriptの読み込み -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<h1>管理者画面</h1>
<ul>
<li><%= link_to "商品管理ページへ", controller: "admin_products", action: "index" %></li>
<li><%= link_to "ログアウト",destroy_admin_session_path,method: :delete %></li>
</ul>
</body>